.my-container{
	margin-top: 1%;
	margin-bottom: 1%;
}

.my-title{
	font-size: 400%;
	font-weight: 800;
}

.my-col{
	background-color: #DDDDDD;
	border-radius: 5px;
	height: 250px;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 2%;
}

.my-col-2{
	background-color: #DDDDDD;
	border-radius: 5px;
	height: 500px;
	margin: 1%;
	padding: 2%;
}

.my-col-3{
	background-color: #DDDDDD;
	border-radius: 5px;
	height: 250px;
	max-width: 30%;
	margin: 1%;
	padding: 2%;
}

.my-col-4{
	background-color: #DDDDDD;
	border-radius: 250px;
	height: 250px;
	max-width: 250px;
	margin: 1%;
	padding: 2%;
}

.my-link{
	color: #f7ff00;
}

.my-link:hover{
	color: #f7ff00;
}

.carousel-image{
	filter: brightness(64%);
}

@media (min-width: 768px) {
	.centered-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 400%;
		text-align: center;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		z-index: 10;
		cursor: default;
	}
}

@media (min-width: 576px) {
	.centered-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		z-index: 10;
		cursor: default;
	}
}

@media (max-width: 576px) {
	.centered-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 200%;
		text-align: center;
		font-weight: 800;
		text-shadow: 1px 1px 3px black;
		z-index: 10;
		cursor: default;
	}
}

.centered-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 800;
}

.big-icon{
  font-size: 1200%;
  color: #0d056c;
}

.medium-icon{
  font-size: 800%;
  color: #0d056c;
}

.my-jumbotron{
	background-color: #0f101e;
}